doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 --Cara Menjadikan Olahraga Sebagai Kebiasaan--

      section
        h2 "Pengertian Olahraga Secara Lengkap"
        h3 Olahraga dikatakan sebagai perilaku yang aktif yang berguna untuk mempertahankan dan menjaga tubuh dari stress dan juga gangguan dari penyakit lainnya. Yang mana dalam pengertian olahraga tersebut dimaksudkan tubuh akan membuat suatu sistem kekebalan tubuh.

      section 
        h3 Sedangkan perilaku aktif yang disampaikan pada pengertian olahraga tersebut berfungsi untuk melancarkan sistem metabolisme tubuh dan juga memberi pengaruh terhadap kinerja kelenjar dalam tubuh sehingga produksi suatu sistem kekebalan tubuh pun akan terjadi.

      section
        h2 "Alasan Orang Bertahan Dengan Rutinitas Olahraga"
        h3 Berdasarkan studi yang dilakukan Klein, berikut merupakan alasan mereka bertahan dengan rutinitas olahraga mereka:

      section
         ul
          li fitnes
          li Merasa Sehat
          li Merasa Sehat-Merasa Sehat
          li Bersemangat dan berenergi
          li Kesenangan dan kenyamanan berolahraga
          li Membuat olahraga sebagai prioritas
          li Tidur lebih nyenyak
          li Otak lebih peka
          li Merasa rileks 
          li Merasa Sehat


      section
        h3 Jadi, Jika Anda sudah menempatkan olahraga dalam prioritas yang tepat, Anda tentunya akan setia dengan rutinitas olahraga Anda. Untuk membantu Anda menjadikan olahraga sebagai bagian aktivitas sehari-hari.
        h3 Berikut beberapa tips dari Klein dan penggemar fitnes Roy Steven beserta istrinya:

      section
        h2 1. Pilih yang Anda suka.
        h3 Ingatlah, tidak ada hukum yang mengharuskan Anda pergi ke gym atau membeli peralatan olahraga."Persepsi olahraga sekarang telah dirubah menjadi kegiatan fisik," terang Klein seperti yang dikutip situs webmd. Dengan melakukan berbagai aktivitas seperti angkat beban, lari, berjalan, bermain tenis, bersepeda, serta kelas aerobik, maka Anda akan tetap bisa berolahraga terlepas dari kondisi cuaca.

      section
        h2 2. Cari teman.
        h3 Aspek sosial juga sangat penting dalam berolahraga. Dengan adanya teman, Anda akan bisa lebih menikmati olaharaga Anda. Selain itu, Anda bisa saling mengingatkan sehingga kegiatan berolahraga tidak akan terlewatkan.

      section
        h2 3. Jadikan olahraga sebagai prioritas. 
        h3 Jadikan olahraga sebagai aktivitas yang tidak bisa dinegosiasi lagi. Kemana pun Anda pergi, jangan pernah lupakan olahraga. Dengan menjadikan olahraga sebagai sesuatu yang tidak bisa dinegosiasikan, maka teman dan anggota keluarga juga akan tahu kalau itu merupakan identitas Anda. Dengan begitu, jika Anda tidak berolahraga, maka mereka akan bertanya dan mengingatkan Anda. 

      section
        h2 4. Buka hari dengan olahraga. 
        h3 Anda mungkin mempunyai segudang aktivitas mulai dari memasak atau mengantar anak ke sekolah. Karena itu, bangun dan berolahragalah sebelum anak Anda terbangun. Kedengarannya susah kalau Anda tidak biasa bangun pagi. Tetapi, Anda akan terbiasa seiring waktu. Jika Anda harus berangkat kerja, pilihlah gym yang berlokasi diantara rumah dan tempat kerja Anda. Luangkan waktu untuk berolahraga dulu. Setelah mandi, Anda akan lebih berenergi sepanjang hari. 

      section
        h2 5. Berolahraga saat pulang kerja. 
        h3 Cara terbaik kedua untuk berolahraga setelah di pagi hari adalah pada saat pulang kerja. Jangan ke rumah dulu sehabis kerja. Jika sudah di rumah, motivasi Anda untuk kembali ke gym akan berkurang sehingga kemungkinan besar Anda akan membatalkannya. 

      section
        h2 6. Walaupun sangat lelah, jangan lupa olahraga.
        h3 Sebagai gantinya, Anda akan merasa lebih baik setelahnya. Olahraga akan membuat Anda berenergi. Tarik napas dalam-dalam, maka tubuh akan menggunakan pertukaran oksigen dengan lebih baik. Selain itu, Anda akan lebih gembira pada saat dan setelah berolahraga.

      section
        h2 7. Tentukan jadwal Anda. 
        h3 Tuliskan hal-hal yang menurut Anda penting. Misalnya waktu yang akan Anda habiskan untuk berolahraga, berapa langkah yang akan Anda jalani, atau seberapa jauh Anda akan berlari atau bersepeda.

      section
        h2 8. Perhatikan semua indikator positif. 
        h3 Anda tentunya akan senang jika pakaian yang semula kesempitan jadi pas di badan, atau Anda bisa mengangkat beban yang lebih berat dan bisa berolahraga lebih lama tanpa merasa kelelahan. 

      section
        h3 Tapi, jangan lupa juga dengan indikator lainnya seperti tidur lebih nyenyak, berpikir lebih jernih, lebih berenergi, menyadarai kalau otot Anda tidak sakit setelah memindahkan beban yang cukup berat, detak jantung Anda saat istirahat semakin menurun atau mungkin saja dokter Anda menyatakan kalau ternyata kadar kolesetrol, tekanan darah, kepadatan tulang, kadar trigliserida dan gula darah Anda membaik. 

      section
        h2 9. Jalan dengan penghitung langkah (pedometer) atau anjing kesayangan.
        h3 Jika senang berjalan tetapi belum berolahraga selama beberapa waktu, Anda sudah bisa memulainya. 10 menit tiga kali sehari tentunya setara dengan 30 menit.  

      section
        h3 Gunakan pedometer dan berjalanlah hingga 10.000 langkah sehari. Tentunya, tidak akan mudah mencapai jumlah ini pada tahap awal. Sebaiknya lakukan saja seperti rutinitas jalan Anda biasanya. Minggu berikutnya, tambahkan 300 ekstra langkah setiap harinya. Tambhakn jumlah langkah Anda setiap minggunya. Jika senang ditemani Anjing, maka Anda akan lebih termotivasi lagi. 

      section
        h2 10. Hargai dan beri hadiah untuk diri sendiri 
        h3 Para pakar setuju kalau mengubah perilaku itu sangat sulit. Tetapi, hadiah bisa memotivasi Anda. Jadi, tetapkan dulu apa tujuan dan hadiah yang akan Anda dapatkan. Jika ingin membeli video game, katakan pada diri Anda kalau video game itu akan menjadi milik Anda setelah berolahraga rutin selama 1 bulan penuh atau jika menginginkan sepatu olahraga baru, pastikan dulu kalau Anda harus jalan sebanyak 5000 langkah untuk mendapatkannya. 

      section
        h2 Keuntungan Berolahraga Secara Rutin
        h3 Berdasarkan studi yang dilakukan, berikut merupakan fakta keuntungan belorahraga secara rutin:

      section
        h2 1. Berolahraga akan Meningkatkan Kapasitas Otak Anda
        h3 David Atkinson, direktur dari Cooper Venture Development Program, salah satu divisi dari Cooper Aerobic Center di Dallas, Amerika Serikat. mengatakan :

      section
        h3 Serotonin adalah hormon di otak yang berfungsi sebagai modulator kapasitas kerja otak yang mencakup pengatur stabilitas emosi, pemahaman dan nafsu makan. Jadi orang yang melakukan olahraga dengan jumlah cukup akan menemukan produktivitas mereka meningkat.

      section
        h2 2. Menggerakkan Tubuh Membantu Mencairkan Stres Anda
        h3 Berolahraga memberikan efek relaksasi yang baik untuk semua orang. Itu sebabnya ketika seseorang mulai berlatih, dia akan segera mengetahui bahwa hal itu akan mengurangi stres dan membuatnya menjadi pribadi yang lebih bahagia.

      section
        h2 3. Berolahraga akan Memberikan Energi
        h3 Berolahraga, meskipun hanya 30 menit sehari, dapat mengubah hari seseorang dari pagi sampai malam hari. Ketika endorphin dilepaskan ke dalam darah selama berolahraga, seseorang akan merasa lebih energik sepanjang hari. Endorphin adalah senyawa kimia dalam otak kita yang dapat membuat otak menjadi rileks.

      section
        h2 4. Tidak Sulit Mencari Waktu Untuk Berolahraga
        h3 Banyak orang berpikir bahwa mereka tidak punya waktu untuk berolahraga. Kemudian, tidak memiliki peralatan tertentu seperti sepasang sepatu olahraga menjadi penghalang. Sebenarnya, Atkinson menyatakan:

      section
        h3 berolahraga bisa dimulai dari pemikiran sederhana, “Berpikir bahwa kita membunuh dua burung dengan satu batu.” Itu berarti anda benar-benar melakukan dua hal atau mendapatkan dua keuntungan dengan melakukan satu kegiatan.

      section
        h2 5. Berolahraga akan Membina Hubungan
        h3 Berolahraga meningkatkan hubungan anda dengan orang lain. Jika hal itu dilakukan bersama keluarga, anda akan merasakan lebih dekat dengan mereka. Hal ini juga berlaku jika anda berolahraga bersama dengan teman-teman anda. Selain itu, 

      section
        h3 sangat mungkin bahwa anda mendapatkan teman-teman baru melalui berolahraga. Selain itu, orang-orang yang mencoba untuk mengurangi berat badannya, benar-benar membutuhkan dukungan dari teman-teman agar usahanya tersebut berhasil.

      section
        h2 6. Berolahraga akan Melawan Penyakit
        h3 Penelitian menunjukkan bahwa berolahraga dapat memperlambat dan mencegah penyakit jantung, stroke, tekanan darah tinggi, kolesterol, diabetes, osteoporosis dan banyak penyakit lainnya.

      section
        h2 7. Berolahraga akan Memompa Jantung Anda Lebih Baik
        h3 Berolahraga membuat jantung anda kuat. Fungsi jantung dan sistem kardiovaskular bekerja lebih efektif, dan ini dapat mengurangi plak dalam pembuluh darah (yang dapat mempersempit aliran darah), sehingga jantung akan memompa darah lebih baik. “Jika jantung anda menjadi lebih kuat, masing-masing pompa akan memberikan sejumlah besar darah dan ini dapat memperlambat detak jantung anda,” kata Todd A. Astorino dari California State University-San Marcos.

      section
        h2 8. Berolahraga akan Memperbaiki Diet Anda
        h3 Otot membakar lebih banyak kalori daripada lemak tubuh ketika anda sedang beristirahat. Dengan demikian, semakin banyak otot yang kita miliki, semakin baik metabolisme yang kita alami. Tentu pembakaran kalori tidak hanya terjadi ketika anda berada dalam kondisi beristirahat, tetapi ketika berolahraga juga. Dengan tingkat metabolisme yang baik, seseorang dapat memiliki pola makan yang sehat. Selama tidak terlalu berlebihan, setiap makanan favorit dapat dikonsumsi.

      section
        h2 9. Berolahraga Meningkatkan Stamina Anda
        h3 Setelah dilakukan selama beberapa minggu secara konsisten, seseorang dapat merasakan perbedaan dalam tubuhnya. Otot-otot telah dikembangkan dan perkembangan ini dapat dirasakan ketika ia melakukan tenis, golf, bola basket atau olahraga lain yang membutuhkan kekuatan otot. Pada saat itu penambahan kekuatan yang berasal dari otot-otot bisa dirasakan, kata Atkinson.

      section
        h3 Selain itu, otot-otot akan dapat bekerja lebih efisien, lebih cepat bereaksi dan daya tahannya juga akan meningkat.

      section
        h2 10. Penurunan Berat Badan Bukan Tujuan Utama
        h3 Berolahraga memang menurukan beberapa kilo dari tubuh anda, namun manfaat dari berolahraga tidak hanya untuk mencegah kelebihan berat badan. Menggunakan olahraga hanya sebagai alat untuk menurunkan berat badan tidak akan menjadi motivator yang kuat bagi seseorang untuk berhasil. Hal ini terjadi karena orang biasanya tidak sabar dan ingin melihat hasilnya dalam sekejap. Penurunan berat badan melalui olahraga tidak bisa dilakukan dalam waktu singkat.

      section
        h2 Mitos-Mitos Tentang Olahraga Yang Salah

      section
        h3 Mitos : Lari di siang hari sambil memakai jaket akan membuat berat badan cepat turuN

      section
        hr
        ul
          li 
            strong Fakta :
          li Udara siang hari memang lebih mudah membuat berkeringat dan jaket akan membuat tubuh semakin panas. Tapi, yang hilang bukan lemak, melainkan cairan tubuh. Kebiasaan ini akan membuat organ tubuh lain seperti jantung dan ginjal terganggu. Pasalnya, kekurangan cairan membuat darah mengental. Jantung dan ginjal juga bekerja lebih keras memompa dan menyaring darah.
      section
        h3 Mitos : Bersepeda bisa menimbulkan risiko kesehatan, di antaranya mandul.

      section
        hr
        ul
          li 
            strong Fakta :
          li Tidak sepenuhnya benar. Demikian pula dengan risiko kanker. Ketika bersepeda, memang akan muncul gesekan yang menimbulkan panas. Panas tersebut dapat mengaktifkan sesuatu yang tadinya tersembunyi. Jika sejak awal sudah ada masalah seperti bibit kanker, kemungkinan kanker muncul memang ada. Tapi, bukan berarti bersepeda menjadi penyebabnya. Untuk mencegahnya, istirahatlah usai bersepeda dan pastikan sirkulasi udara baik.
      section
        h3 Mitos : Semakin banyak berolahraga, semakin bagus.

      section
        hr
        ul
          li 
            strong Fakta :
          li Salah dan begitu pula sebaliknya. Olahraga tak harus selalu berat, berkeringat juga belum tentu bagus. Olahraga, sama halnya dengan obat, harus optimal. Jenis, frekuensi, dan intensitas lebih penting agar tujuan tercapai.

      section
        h2 10. Penurunan Berat Badan Bukan Tujuan Utama
        h3

      section
        h2 10. Penurunan Berat Badan Bukan Tujuan Utama
        h3

      section
        h2 10. Penurunan Berat Badan Bukan Tujuan Utama
        h3

      section
        h2 10. Penurunan Berat Badan Bukan Tujuan Utama
        h3

      section
        h2 Named Route
        h3 

      section
        h2 Named Route
        h3 

      section
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild