doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Cara Menjadikan Olahraga Sebagai Kebiasaan

      section
        h2 "Alasan Orang Bertahan Dengan Rutinitas Olahraga"
        h3 Berdasarkan studi yang dilakukan Klein, berikut merupakan alasan mereka bertahan dengan rutinitas olahraga mereka:

      section
         ul
          li fitnes
          li Merasa Sehat
          li Merasa Sehat-Merasa Sehat
          li Bersemangat dan berenergi
          li Kesenangan dan kenyamanan berolahraga
          li Membuat olahraga sebagai prioritas
          li Tidur lebih nyenyak
          li Otak lebih peka
          li Merasa rileks 
          li Merasa Sehat


      section
        h3 Jadi, Jika Anda sudah menempatkan olahraga dalam prioritas yang tepat, Anda tentunya akan setia dengan rutinitas olahraga Anda. Untuk membantu Anda menjadikan olahraga sebagai bagian aktivitas sehari-hari.
        h3 Berikut beberapa tips dari Klein dan penggemar fitnes Roy Steven beserta istrinya:

      section
        h2 1. Pilih yang Anda suka.
        h3 Ingatlah, tidak ada hukum yang mengharuskan Anda pergi ke gym atau membeli peralatan olahraga."Persepsi olahraga sekarang telah dirubah menjadi kegiatan fisik," terang Klein seperti yang dikutip situs webmd. Dengan melakukan berbagai aktivitas seperti angkat beban, lari, berjalan, bermain tenis, bersepeda, serta kelas aerobik, maka Anda akan tetap bisa berolahraga terlepas dari kondisi cuaca.

      section
        h2 2. Cari teman.
        h3 Aspek sosial juga sangat penting dalam berolahraga. Dengan adanya teman, Anda akan bisa lebih menikmati olaharaga Anda. Selain itu, Anda bisa saling mengingatkan sehingga kegiatan berolahraga tidak akan terlewatkan.

      section
        h2 3. Jadikan olahraga sebagai prioritas. 
        h3 Jadikan olahraga sebagai aktivitas yang tidak bisa dinegosiasi lagi. Kemana pun Anda pergi, jangan pernah lupakan olahraga. Dengan menjadikan olahraga sebagai sesuatu yang tidak bisa dinegosiasikan, maka teman dan anggota keluarga juga akan tahu kalau itu merupakan identitas Anda. Dengan begitu, jika Anda tidak berolahraga, maka mereka akan bertanya dan mengingatkan Anda. 

      section
        h2 4. Buka hari dengan olahraga. 
        h3 Anda mungkin mempunyai segudang aktivitas mulai dari memasak atau mengantar anak ke sekolah. Karena itu, bangun dan berolahragalah sebelum anak Anda terbangun. Kedengarannya susah kalau Anda tidak biasa bangun pagi. Tetapi, Anda akan terbiasa seiring waktu. Jika Anda harus berangkat kerja, pilihlah gym yang berlokasi diantara rumah dan tempat kerja Anda. Luangkan waktu untuk berolahraga dulu. Setelah mandi, Anda akan lebih berenergi sepanjang hari. 

      section
        h2 5. Berolahraga saat pulang kerja. 
        h3 Cara terbaik kedua untuk berolahraga setelah di pagi hari adalah pada saat pulang kerja. Jangan ke rumah dulu sehabis kerja. Jika sudah di rumah, motivasi Anda untuk kembali ke gym akan berkurang sehingga kemungkinan besar Anda akan membatalkannya. 

      section
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild